/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form {
  font-family: Lora, serif;
  font-weight: 400;
  font-color: #333;
  font-size: 1rem;
  padding: 1rem;
  max-width: 600px;
  box-sizing: border-box;
  margin-left: 3rem; }
  form h2 {
    font-family: Lora, serif;
    font-weight: 400;
    font-color: #333;
    font-size: 2rem;
    margin-bottom: 1rem; }
  form input, form textarea {
    display: block;
    width: 100%;
    font-size: 2rem; }
    form input:not(:last-child), form textarea:not(:last-child) {
      margin-bottom: 1rem; }
  form input[type=submit] {
    font-family: Lora, serif;
    font-weight: 700;
    font-color: #333;
    font-size: 1rem;
    font-size: 2rem;
    background-color: #236467;
    color: #fff;
    padding: 1rem;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer; }
    form input[type=submit]:hover {
      background-color: #30898d; }
  form textarea {
    resize: none;
    height: 10rem; }

main > nav {
  margin: 1rem; }
  main > nav li {
    position: relative; }
    main > nav li a {
      display: inline-block;
      width: 100%;
      color: #333;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.3s; }
      main > nav li a .icon, main > nav li a h2 {
        display: block; }
      main > nav li a .icon {
        padding: 5rem 5rem;
        font-size: 6rem; }
      main > nav li a h2 {
        font-family: Lora, serif;
        font-weight: 400;
        font-color: #333;
        font-size: 2rem;
        padding: 1rem; }
      main > nav li a:hover {
        background-color: #e6e6e6; }

body > header {
  background-color: #162855;
  padding: 1rem; }
  body > header a {
    text-decoration: none;
    color: #fff; }
    body > header a .logo {
      display: inline-block;
      font-size: 2rem; }
    body > header a h1 {
      display: inline-block;
      font-family: Lora, serif;
      font-weight: 700;
      font-color: #fff;
      font-size: 2rem;
      letter-spacing: -2px; }

.books {
  margin-left: 4rem;
  padding: 1rem; }
  .books h2 {
    font-family: Lora, serif;
    font-weight: 400;
    font-color: #333;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .books .book {
    display: flex;
    flex-flow: row wrap; }
    .books .book:not(:last-child) {
      margin-bottom: 1rem; }
    .books .book figure {
      position: relative;
      max-width: 130px; }
      .books .book figure img {
        width: 100%; }
    .books .book .details {
      max-width: 400px;
      margin-left: 1rem; }
      .books .book .details h3 {
        font-family: Lora, serif;
        font-weight: 700;
        font-color: #333;
        font-size: 1rem; }
      .books .book .details .genre {
        font-family: Lora, serif;
        font-weight: 400;
        font-color: #333;
        font-size: 1rem;
        font-style: italic; }
      .books .book .details p {
        margin-top: 1rem;
        font-family: Lora, serif;
        font-weight: 400;
        font-color: #333;
        font-size: 1rem; }
  .books .add {
    display: inline-block;
    padding: 2rem 3rem;
    background: #236467;
    font-family: Lora, serif;
    font-weight: 700;
    font-color: #333;
    font-size: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s; }
    .books .add:hover {
      background-color: #30898d; }

/*# sourceMappingURL=style.css.map */